{% extends 'base.html' %}
{% load filters %}

{% block title %}My Items{% endblock title %}

{% block content %}
<div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold">My Items</h2>
    {% if not has_items %}
    {% if user.is_authenticated %}

    <div class="p-4 text-red-500 animate-blink">{{request.user.username}}, you have no assigned items.</div>
{#    {% else %}#}
    {% endif %}
    {% endif %}
    {% for room, items_with_count in room_items %}
    <div class="p-4 mt-4 bg-white rounded shadow-xl">
        <h3 class="text-lg font-bold">{{ room.name }}</h3>
        <p><span class="font-bold">Type:</span> {{ room.room_type }}</p>
        <p><span class="font-bold">Date:</span> {{ room.date|date:'d.m.Y' }}</p>
        <p><span class="font-bold">Description:</span> {{ room.description }}</p>
        <div class="grid grid-cols-2 gap-4 mt-4">
            {% for item, count in items_with_count %}
            <div class="relative rounded-lg border-2 border-black p-4 shadow-lg">
                <h4 class="text-lg font-bold">{{ item.item_name }}</h4>
                <p><span class="font-bold">Price:</span> {{ item.price }} €</p>
                <p><span class="font-bold">Duration time:</span>
                {% if item.duration == 1 %}
                        {{ item.duration }} minute
                    {% elif item.duration < 61 %}
                       {{ item.duration }} minutes
                    {% else %}
                        {{ item.duration|minutes_to_hours }}
                    {% endif %}
                </p>
                <p><span class="font-bold">Quantity:</span> {{ count }}</p>
            </div>
            {% empty %}
            <p>No items available.</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{#    {% endif %}#}
</div>
{% endblock %}